#!/bin/bash

yum update -y
yum install java-1.8.0-openjdk-devel -y

# installing Docker
amazon-linux-extras install docker
service docker start

# Installing git
yum install git -y

# Installing Maven
wget https://www-eu.apache.org/dist/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.zip
unzip apache-maven-3.6.3-bin.zip
mv apache-maven-3.6.3 maven && \
    mv maven /opt/maven
rm apache-maven-3.6.3-bin.zip
JAVA_HOME='JAVA_HOME=/usr/lib/jvm/jre-openjdk'
MAVEN_PATH='PATH=$PATH:/opt/maven/bin/'
su ec2-user -c ". ~/.bash_profile; echo -e '$JAVA_HOME' >> ~/.bash_profile"

# Installing Gradle
wget https://services.gradle.org/distributions/gradle-5.0-bin.zip -P /opt/
cd /opt/
unzip gradle-5.0-bin.zip
rm -f gradle-5.0-bin.zip
mv gradle-5.0 gradle
GRADLE_PATH="$MAVEN_PATH:/opt/gradle/bin/\nexport PATH"
su ec2-user -c ". ~/.bash_profile; echo -e '$GRADLE_PATH' >> ~/.bash_profile"

# Installing Ansible
amazon-linux-extras install ansible2 -y

# Installing Terraform
wget https://releases.hashicorp.com/terraform/0.12.17/terraform_0.12.17_linux_amd64.zip
unzip terraform_0.12.17_linux_amd64.zip
mv terraform /usr/local/bin/
rm -f terraform_0.12.17_linux_amd64.zip

# Installing Packer
wget https://releases.hashicorp.com/packer/1.5.5/packer_1.5.5_linux_amd64.zip
unzip packer_1.5.5_linux_amd64.zip
mv packer /usr/local/bin/
rm -f packer_1.5.5_linux_amd64.zip

# Installing Node & NPM
curl --silent --location https://rpm.nodesource.com/setup_10.x | bash - && \
    yum install nodejs -y
